.leftimg {
	float: left;
	margin: 20px 20px 0px 0px;
}
.helpblock {
	overflow-y: scroll;
}
#contentblock .row {
	padding: 0;
}
.box hr {
	margin: 0;
}
ul.colortabs {
	margin-top: 20px!important;
}
.helpblock.max {
    width: 100%;
}
.helpblock {
	overflow: hidden;
    height: auto;
    position: relative;
    left:0;
    width: 100%;
}
.admin {
	float: right;
    background-color: rgb(108, 196, 78);
    line-height: 30px;
    margin: 10px;
    padding: 0 10px;
    color: #fff;
    margin-left:auto;
}
.corpuser {
	line-height: 1.2;
font-size: 12px;
align-items: center;
justify-content: center;
display: flex;
text-align: center;
float: right;
    background-color: rgb(88, 155, 230);
    margin: 10px;
    padding: 0 10px;
    color: #fff;
}
.trainer {
	line-height: 1.2;
align-items: center;
justify-content: center;
display: flex;
text-align: center;
float: right;
    background-color: rgb(88, 155, 230);
    margin: 10px;
    padding: 0 10px;
    color: #fff;
}
.content .header {
	display: flex;
	align-items: center;
}
.content .header>h2 {
	float: left;
}

.content .header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  .content .header.shown {
   background-color: rgb(108, 196, 78);
  }

input[type="checkbox"] {
	margin-left: auto;
}
.box.cap {
    padding: 0;
}